sudo: required

# Test pushes to master and pull requests to master, but don't test other
# branches. Without this, pushing to a same-repository PR causes Travis to run
# everything twice.
branches:
  only:
    - "master"

env:
  - |
    INSTALLER_TYPE=linux-64-ospkg-full
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-ospkg-minimal
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-natipkg-full
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-natipkg-minimal
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-ospkg-full
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-ospkg-minimal
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-natipkg-full
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-natipkg-minimal
    INSTALLATION_TYPE=script-inplace
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-ospkg-full
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-ospkg-minimal
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-natipkg-full
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-natipkg-minimal
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=nogui
  - |
    INSTALLER_TYPE=linux-64-ospkg-full
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-ospkg-minimal
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-natipkg-full
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=gui
  - |
    INSTALLER_TYPE=linux-64-natipkg-minimal
    INSTALLATION_TYPE=script-unixstyle
    TEST_SUITE=gui
  # linux-32 installation tests temporarily disabled due to Typed Racket GUI
  # test failures related to extflonums and 32-bit builds, see
  # racket/typed-racket#652

services:
  - docker

# See https://docs.travis-ci.com/user/docker/#Installing-a-newer-Docker-version
before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  # We build these in before_install because they're prerequisite services and
  # tools, not the installer itself
  - docker-compose build docker-compose
  - docker-compose build xvfb
  - docker-compose build installer
  - docker-compose build test-runner

install:
  - docker-compose build download-${INSTALLER_TYPE}
  - docker-compose run installer ${INSTALLER_TYPE} ${INSTALLATION_TYPE}

script:
  - docker-compose run test-runner racket-${INSTALLER_TYPE}-${INSTALLATION_TYPE} ${TEST_SUITE}
